{% extends 'base.html' %}
{% block title %}
Bot Fitness
{% endblock title %}

{% block style %}
.styleFormInput {
  display: flex;
  flex-direction: column;
}
.styleFormInput > div {
  width: auto;
  text-align: center;
}

{% endblock style %}

{% block head %}
    {% comment %} Bot Us Code  {% endcomment %}
    <form method="POST" style="background-color: black; border: 2px solid #FFA500; padding: 20px; border-radius: 10px; width: 100%; margin: auto; opacity:0.8" >
      {% csrf_token %}
      <h1>Bot Fitness</h1>
      <div class="styleFormInput">
        <div class="styleGender">
          <label for="body" style="color: #FFA500">Your Gender:</label>
          <select name="gender" style="border-radius: 5px">
            <option value="male">Male</option>
            <option value="female">Female</option>
          </select>
        </div>

        <div class="styleTypeBody">
          <label for="name" style="color: #FFA500">Height:</label>
          <input type="number" id="height" name="height" min="0" max="2023" required style="border-radius: 5px">

          <label for="name" style="color: #FFA500">Weight:</label>
          <input type="number" id="weight" name="weight" min="0" max="2023" required style="border-radius: 5px">
        </div>

        <div class="styleBirthday">
          <label for="name" style="color: #FFA500">Your birthday day:</label>
          <br>
          <label for="birthday-day" style="color: white">Day:</label>
          <input type="number" id="birthday-day" name="birthday-day" min="1" max="31" required style="border-radius: 5px">

          <label for="birthday-month" style="color: white">Month:</label>
          <select id="birthday-month" name="birthday-month" required style="border-radius: 5px">
            <option value="1">January</option>
            <option value="2">February</option>
            <option value="3">March</option>
            <option value="4">April</option>
            <option value="5">May</option>
            <option value="6">June</option>
            <option value="7">July</option>
            <option value="8">August</option>
            <option value="9">September</option>
            <option value="10">October</option>
            <option value="11">November</option>
            <option value="12">December</option>
          </select>

          <label for="birthday-year" style="color: white">Year:</label>
          <input type="number" id="birthday-year" name="birthday-year" min="1900" max="2023" required style="border-radius: 5px">
        </div>

        <div class="styleGoal">
          <label for="goal" style="color: #FFA500; margin:5px">Your goal:</label>
          <select id="goal" name="goal" style="border-radius: 5px">
            <option value="lose_weight">Lose weight</option>
            <option value="gain_muscle_mass">Gain muscle mass</option>
            <option value="get_shredded">Get shredded</option>
          </select>
        </div>

        <div class="stylePhysicalCondition">
         <label for="body" style="color: #FFA500; margin-top:5px">Your physical condition:</label>
         <select id="body" name="body" style="border-radius: 5px">
           <option value="ectomorph">Ectomorph</option>
           <option value="mesomorph">Mesomorph</option>
           <option value="endomorph">Endomorph</option>
         </select>
        </div>
      </div>
      <div style="border-width:2px;border-style:solid;border-color:white;border-radius: 5px; margin:10px;color:white">
            <h3 style="color:#FFA500; margin-bottom:0;">Test to determine your physical condition</h3>
            <p style=" margin-bottom:0;">Grip your opposite wrist using your thumb and index finger. If you're right-handed, use your right hand to grab your left wrist.</p>
            <div>
              <p style=" margin-bottom:0;"><strong>Thumb and index finger:</strong></p>
              <p style=" margin-bottom:0;">
                <b>Ectomorph</b> 
                — wrapping around with ease.
                <br>
                <b>Mesomorph</b> 
                — touching each other.
                <br>
                <b>Endomorph</b> 
                — doesn’t come into contact.
              </p>
            </div>
      </div>

      <button onclick="scrollToPosition()" class="btn btn-warning" type="submit" onclick="scrollToFooter()" >Submit</button>
      

    </div>

    <script>
      function scrollToPosition() {
        const position = document.getElementById('position');
        window.scrollTo({
          top: position.offsetTop,
          behavior: 'smooth'
        });
      }

    </script>
{% endblock head %}
{% block body %}

{% if result %}
<div id="position" style="background-color: NavajoWhite; border: 2px solid #FFA500; width: 100%;height:auto;padding-top:15px;text-align:center">
  <p>Your current condition is: {{ result }}</p>
  <p>{{Suggestions_for_exercises}}<p>
  <p>{{th_e}}<p>
  <p>{{nd_e}}<p>
</div>
{% endif %}

{% endblock body %}

