{% extends 'base.html' %}
{% block title %}
Home
{% endblock title %}

{% block style %}

{% endblock style %}
.test{
  width: auto;
}
{% block head %}

  <main id="main">

    <!-- ======= test Section ======= -->
    <section id="test" class="test">
      <div class="container" data-aos="zoom-in">

        <div class="testimonials-slider swiper" data-aos="fade-up" data-aos-delay="100">
          <div class="swiper-wrapper">

            <div class="swiper-slide">
              <div class="testimonial-item">
                <img src="static/assets/img/testimonials/TheRock.jpg" class="testimonial-img" alt="" style="width:auto; height:400px">
                <h3 style ="color: #FFA500">The Rock</h3>
                  <p style ="color: #FFA500">Nếu bạn không có niềm tin vào chính mình, thì ai sẽ?</p>
              </div>
            </div><!-- End testimonial item -->

            <div class="swiper-slide">
              <div class="testimonial-item">
                <img src="static/assets/img/testimonials/RonnieColemanN.jpg.png" class="testimonial-img" alt="" style="width:auto; height:400px">
                <h3 style ="color: #FFA500">Ronnie Coleman</h3>
                  <p style ="color: #FFA500">Nếu bạn muốn trở thành một vận động viên, bạn phải làm việc chăm chỉ hơn bất cứ ai khác.</p>
              </div>
            </div><!-- End testimonial item -->

            <div class="swiper-slide">
              <div class="testimonial-item">
                <img src="static/assets/img/testimonials/ArnoldSchwarzenegger.jpg" class="testimonial-img" alt="" style="width:auto; height:400px">
                <h3 style ="color: #FFA500">Arnold Schwarzenegger</h3>
                  <p style ="color: #FFA500">Cơ bắp không giúp bạn giành chiến thắng, tinh thần mới là chìa khóa thành công.</p>
              </div>
            </div><!-- End testimonial item -->

            <div class="swiper-slide">
              <div class="testimonial-item">
                <img src="static/assets/img/testimonials/FrankZane.jpg" class="testimonial-img" alt="" style="width:auto; height:400px">
                <h3 style ="color: #FFA500">Frank Zane</h3>
                  <p style ="color: #FFA500">The mind is the limit. As long as the mind can envision the fact that you can do something, you can do it, as long as you really believe 100 percent.</p>
              </div>
            </div><!-- End testimonial item -->

            <div class="swiper-slide">
              <div class="testimonial-item">
                <img src="static/assets/img/testimonials/RichPiana.jpg" class="testimonial-img" alt="" style="width:auto; height:400px">
                <h3 style ="color: #FFA500">Rich Piana</h3>
                  <p style ="color: #FFA500">There's no such thing as overtraining, just under-eating.</p>
              </div>
            </div><!-- End testimonial item -->
          </div>
          <div class="swiper-pagination"></div>
        </div>

      </div>
    </section><!-- End Testimonials Section -->

  </main><!-- End #main -->

{% endblock head %}

{% block body %}
<!-- ======= Services Section ======= -->
<section id="services" class="services">
  <div class="container" data-aos="fade-up">

    <div class="section-title">
      <h2>Services</h2>
      <p>Check our Services</p>
    </div>

    <div class="row" >
      <div class="col-lg-4 col-md-6 d-flex align-items-stretch" data-aos="zoom-in" data-aos-delay="100">
        <a href="/bot"><div class="icon-box" style="border-style:solid;border-color:black;border-radius: 5px">
          <div class="icon"><i class="bx bxl-dribbble"></i></div>
          <h4 style="font-size:35px"><a href="/bot">Bot</a></h4>
          <p style="font-size:20px">Where you can see exercises that are suitable for your body condition</p>
        </div></a>
      </div>

      <div class="col-lg-4 col-md-6 d-flex align-items-stretch mt-4 mt-md-0" data-aos="zoom-in" data-aos-delay="200">
        <a href="/contact"><div class="icon-box" style="border-style:solid;border-color:black;border-radius: 5px">
          <div class="icon"><i class="bx bx-file"></i></div>
          <h4 style="font-size:35px"><a href="/contact">Contact</a></h4>
          <p style="font-size:20px">Where you can leave us contact information</p>
        </div></a>
      </div>

      <div class="col-lg-4 col-md-6 d-flex align-items-stretch mt-4 mt-lg-0" data-aos="zoom-in" data-aos-delay="300">
        <a href="/join"><div class="icon-box" style="border-style:solid;border-color:black;border-radius: 5px">
          <div class="icon"><i class="bx bx-tachometer"></i></div>
          <h4 style="font-size:35px"><a href="/join">Enroll</a></h4>
          <p style="font-size:20px">Where you can register to join the best gym in Danang</p>
        </div></a>
      </div>

      <div class="col-lg-4 col-md-6 d-flex align-items-stretch mt-4" data-aos="zoom-in" data-aos-delay="100">
        <a href="/attendance"><div class="icon-box" style="border-style:solid;border-color:black;border-radius: 5px">
          <div class="icon"><i class="bx bx-world"></i></div>
          <h4 style="font-size:35px"><a href="/attendance">Attendance</a></h4>
          <p style="font-size:20px">At vero eos et accusamus et iusto odio dignissimos ducimus qui blanditiis</p>
        </div></a>
      </div>

      <div class="col-lg-4 col-md-6 d-flex align-items-stretch mt-4" data-aos="zoom-in" data-aos-delay="200">
        <a href="/profile"><div class="icon-box" style="border-style:solid;border-color:black;border-radius: 5px">
          <div class="icon"><i class="bx bx-slideshow"></i></div>
          <h4 style="font-size:35px"><a href="/profile">Profile</a></h4>
          <p style="font-size:20px">Where you can see your personal information</p>
        </div></a>
      </div>



    </div>

  </div>
</section><!-- End Services Section -->
    <!-- ======= Contact Section ======= -->
    <section id="contact" class="contact">
      <div class="container" data-aos="fade-up">

        <div class="section-title">
          <h2>Contact</h2>
          <p>Contact Us</p>
        </div>

        <div>
          <iframe style="border:0; width: 100%; height: 270px;" src="https://www.google.com/maps/embed?pb=!1m14!1m8!1m3!1d12097.433213460943!2d-74.0062269!3d40.7101282!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x0%3A0xb89d1fe6bc499443!2sDowntown+Conference+Center!5e0!3m2!1smk!2sbg!4v1539943755621" frameborder="0" allowfullscreen></iframe>
        </div>

        <div class="row mt-5">

          <div class="col-lg-4">
            <div class="info">
              <div class="address">
                <i class="bi bi-geo-alt"></i>
                <h4>Location:</h4>
                <p>254 NVL, Đà Nẵng, Việt Nam</p>
              </div>

              <div class="email">
                <i class="bi bi-envelope"></i>
                <h4>Email:</h4>
                <p>info@gmail.com</p>
              </div>

              <div class="phone">
                <i class="bi bi-phone"></i>
                <h4>Call:</h4>
                <p>+84 123456789</p>
              </div>

            </div>

          </div>

          <div class="col-lg-8 mt-5 mt-lg-0">

            <form action="forms/contact.php" method="post" role="form" class="php-email-form">
              <div class="row">
                <div class="col-md-6 form-group">
                  <input type="text" name="name" class="form-control" id="name" placeholder="Your Name" required>
                </div>
                <div class="col-md-6 form-group mt-3 mt-md-0">
                  <input type="email" class="form-control" name="email" id="email" placeholder="Your Email" required>
                </div>
              </div>
              <div class="form-group mt-3">
                <input type="text" class="form-control" name="subject" id="subject" placeholder="Subject" required>
              </div>
              <div class="form-group mt-3">
                <textarea class="form-control" name="message" rows="5" placeholder="Message" required></textarea>
              </div>
              <div class="my-3">
                <div class="loading">Loading</div>
                <div class="error-message"></div>
                <div class="sent-message">Your message has been sent. Thank you!</div>
              </div>
              <div class="text-center"><button type="submit">Send Message</button></div>
            </form>

          </div>

        </div>

      </div>
    </section><!-- End Contact Section -->

{% endblock body %}